<article class="discography-album">
    <section>
        <div style="width: 20%; float:left">
            <p class="discography-album_title" style="margin-bottom: -0.35em;">
                {{ include.currPost.title }}
            </p>
            <p class="discography-album_release-date" style = "font-size: 0.7em; margin-bottom: -0.35em;">
                {{ include.currPost.date | date_to_long_string }}
            </p>
                {% if include.currPost.artists %}
                    <p class="discography-album_release-date" style = "font-size: 0.7em;">
                        {{ include.currPost.artists }}
                    </p>
                {% endif %}
        </div>
        <div style="width: 25%; float:left; margin-top: 0.65em";>
            {% if include.currPost.external_url %}
            <a href="{{ include.currPost.external_url | relative_url }}" target="_blank">
                {% else %}
                {% if include.currPost.embed_player %}
                    {% if include.currPost.embed_player.type ==	"audio_file" %}
                        {% include music-player.html audioData=include.currPost.embed_player %}
                    {% else %}
                    <iframe
                        class="embedded-player hidden"
                        givenSrc="{{include.currPost.embed_player.src}}"
                        type="{{include.currPost.embed_player.type}}"
                        allow="encrypted-media; picture-in-picture"
                        height="80"
                        frameborder="0"
                        scrolling="no">
                    </iframe>
                    {% endif %}
                {% endif %}
            {% endif %}
         </div>
        </section>
    {% include read-more.html currPost=include.currPost %}
</article>