{% if include.currPost.type %}
<p class="discography-album_type">
    release type: {{ include.currPost.type }}
</p>
{% endif %}

{% assign playArray = include.currPost.play | size %}
{% if playArray != 0 %}
<p class="discography-album_play">
    play:
    {% for play in include.currPost.play %}
    <a href="{{ play.url }}" target="_blank">{{ play.name }}</a>
    {% if forloop.last == false %}
    |
    {% endif %}
    {% endfor %}
</p>
{% endif %}

{% assign downloadArray = include.currPost.download | size %}
{% if downloadArray != 0 %}
<p class="discography-album_download">
    download:
    {% for download in include.currPost.download %}
    <a href="{{ download.url }}" target="_blank">{{ download.name }}</a>
    {% if forloop.last == false %}
    |
    {% endif %}
    {% endfor %}
</p>
{% endif %}

{% assign buyArray = include.currPost.buy | size %}
{% if buyArray != 0 %}
<p class="discography-album_buy">
    buy from:
    {% for buy in include.currPost.buy %}
    <a href="{{ buy.url }}" target="_blank">{{ buy.name }}</a>
    {% if forloop.last == false %}
    |
    {% endif %}
    {% endfor %}
</p>
{% endif %}

{% assign otherArray = include.currPost.other | size %}
{% if otherArray != 0 %}
<p class="discography-album_other">
    other links:
    {% for other in include.currPost.other %}
    <a href="{{ other.url }}" target="_blank">{{ other.name }}</a>
    {% if forloop.last == false %}
    |
    {% endif %}
    {% endfor %}
</p>
{% endif %}