---
layout: songography
title: various melodies
permalink: various/
category: various
pagination:
  enabled: true
  category: various
  title: ':title'
---
unreleased songs, trash covers, scratch tracks, b-sides, unfinished thoughts, forgotten melodies.

<br />
<br />

<h2>Doug Holmes</h2>
<hr style="width:60%; margin-top: 0em; margin-bottom: 0em;">
<iframe width="60%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2059325922&color=%23216177&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/douglas-holmes-500425285" title="Doug Holmes" target="_blank" style="color: #cccccc; text-decoration: none;">Doug Holmes</a> · <a href="https://soundcloud.com/douglas-holmes-500425285/sets/doug-holmes" title="Doug Holmes" target="_blank" style="color: #cccccc; text-decoration: none;">Doug Holmes</a></div>

<br />

<h2>Another Hundred Miles</h2>
<div style="margin-top: -0.6em; margin-bottom: -0.4em; font-size: 0.75em;">doug holmes, dan maynard, ryan murphy, john lanou</div>
<div style="margin-top: -0.4em; margin-bottom: -0.65em; font-size: 0.6em;">(c. 2000-2012)</div>
<hr style="width:60%; margin-top: 0.5em; margin-bottom: 0em;">
<iframe width="60%" height="450" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2059307169&color=%23216177&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/douglas-holmes-500425285" title="Doug Holmes" target="_blank" style="color: #cccccc; text-decoration: none;">Doug Holmes</a> · <a href="https://soundcloud.com/douglas-holmes-500425285/sets/another-hundred-miles" title="Another Hundred Miles" target="_blank" style="color: #cccccc; text-decoration: none;">Another Hundred Miles</a></div>

<br />

<h2>Righty Mighty</h2>
<div style="margin-top: -0.6em; margin-bottom: -0.4em; font-size: 0.75em;">doug holmes, ryan murphy, mark hixon</div>
<div style="margin-top: -0.4em; margin-bottom: -0.65em; font-size: 0.6em;">(c. 2007)</div>
<hr style="margin-top: 0.5em; margin-bottom: 0em;">
<p>&#128533;</p>
{% for post in site.posts %} 
  {% if post.category contains 'Righty Mighty' %}  
    <small>{{ post.title }}</small><br/>
  {% endif %} 
{% endfor %}

<br />

<h2>Analog Hobbs</h2>
<div style="margin-top: -0.6em; margin-bottom: -0.4em; font-size: 0.75em;">doug holmes, ryan murphy</div>
<div style="margin-top: -0.4em; margin-bottom: -0.65em; font-size: 0.6em;">(c. 2006-2007)</div>
<hr style="width:60%; margin-top: 0.5em; margin-bottom: 0.5em;">
<iframe width="60%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2059260975&color=%23216177&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/douglas-holmes-500425285" title="Doug Holmes" target="_blank" style="color: #cccccc; text-decoration: none;">Doug Holmes</a> · <a href="https://soundcloud.com/douglas-holmes-500425285/sets/analog-hobbs" title="Analog Hobbs" target="_blank" style="color: #cccccc; text-decoration: none;">Analog Hobbs</a></div>

<br />

<h2>Basement Sessions</h2>
<div style="margin-top: -0.6em; margin-bottom: -0.4em; font-size: 0.75em;">dan maynard, doug holmes</div>
<div style="margin-top: -0.4em; margin-bottom: -0.65em; font-size: 0.6em;">(c. 1999)</div>
<hr style="width:60%; margin-top: 0.5em; margin-bottom: 0.5em;">
<iframe width="60%" height="400" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2059302624&color=%23216177&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/douglas-holmes-500425285" title="Doug Holmes" target="_blank" style="color: #cccccc; text-decoration: none;">Doug Holmes</a> · <a href="https://soundcloud.com/douglas-holmes-500425285/sets/basement-sessions" title="Basement Sessions" target="_blank" style="color: #cccccc; text-decoration: none;">Basement Sessions</a></div>

<br />

<h2>Anastasia</h2>
<div style="margin-top: -0.6em; margin-bottom: -0.4em; font-size: 0.75em;">dan maynard, doug holmes, pat sheehan, chris cote, harold guise</div>
<div style="margin-top: -0.4em; margin-bottom: -0.65em; font-size: 0.6em;">(c. 1996-1998)</div>
<hr style="width:60%; margin-top: 0.5em; margin-bottom: 0.5em;">
<iframe width="60%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/2059236723&color=%23216177&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/douglas-holmes-500425285" title="Anastasia" target="_blank" style="color: #cccccc; text-decoration: none;">Doug Holmes</a> · <a href="https://soundcloud.com/douglas-holmes-500425285/sets/anastasia" title="Anastasia" target="_blank" style="color: #cccccc; text-decoration: none;">Anastasia</a></div>

